<nav class="navbar navbar-inverse" style="/*background-color:rgba(131, 179, 133, 0.71);*/">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Forum</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <%if (user) { %>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hello <%=user.username%>! <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/profile">Profile</a></li>
            <li><a href="logout">Logout</a></li>
          </ul>
        </li>

        <% }else { %>
          <li><a href="/login" class=""><span class="fa fa-user"></span> Login</a></li>
          <li><a href="/signup" class=""><span class="fa fa-user"></span> Signup</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <!-- <div class="row jumbotron">
      <h1><a href="/" style="text-decoration:none;">Forum</a></h1>
      <%if (user) { %>
        <p>Hello <a href="/profile"><%=user.username%>!</a></p>
      <% }else { %>
        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
      <% } %>
  </div> -->
