<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <% include partials/head %>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1>Profile Page</h1>
    <a href="/" class="btn btn-default btn-sm">Home</a>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">

					<p>
						<strong>Username</strong>: <%= user.username %><br>
						<strong>Type</strong>: <%= user.type %>
					</p>

			</div>
		</div>

	</div>

</div>
</body>
</html>
